# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
target
eclipse
run
guildtracker.json
increments.json
echoMessages.json

demoApplication.log

/diseaseData.json
/dickInfo.json
